body {
    margin: 0;
    /* background-color: rgb(24, 94, 207); */
    background-image: url(https://media2.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
   }
   
   body, input, a {
    font-family: sans-serif
   }
   
   header {
    text-align: center
   }

   h1{
       color: white;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 4em;
   }

   #texto{
       color:white;
       font-size: 1.4em;
   }
   
   main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #010307;
    color:white;
    text-align: center;
   }
   
   footer{
       text-align: center;
       color: rgb(110, 213, 253);
       font-size: 1.4em;
       
   }
   p {
    margin: 1em
   }

   label {
    display: block;
    font-size: small;
    font-weight: bold
   }
   
   label>* {
    display: block;
    width: 100%
   }
   